{% extends '../footer-layout.html' %}

{% block content-container %}
<div class="content-container text-center">
  <div class="slogan-container inline-block">
    <span class="img-slogan"></span>
  </div>
  <div class="login-container inline-block" ng-controller="loginCtrl">
    <form class="form-horizontal" novalidate>
      <div class="form-group">
        <input ng-model="data.username" type="text" class="form-control" placeholder="支持用户名/邮箱登陆" required>
      </div>
      <div class="form-group">
        <input ng-model="data.password" type="password" class="form-control" placeholder="密码">
      </div>
      <div class="form-group">
        <div class="checkbox text-left">
          <label>
            <input type="checkbox"> 记住用户名
          </label>
        </div>
      </div>
      <div class="form-group text-left">
        <button class="btn btn-success" ng-click="login()">登陆</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}