{% extends './layout.html' %}

{% block body-container %}
{% block content-container %}{% endblock %}

<div class="footer-container color-bg-black color-gray">
  <div class="copyright text-center">
    <ul class="list-unstyled inline-block">
      <li>Copyright © {{now() | date('Y')}} <a href="{{systemParams.github}}" target="_blank">{{systemParams.corporation}}</a>. All Rights Reserved.</li>
      <li>{{systemParams.author}} 版权所有 {{systemParams.ICPNumber}}</li>
    </ul>
  </div>
</div>
{% endblock %}