<!DOCTYPE html>
<html>
<head lang="en">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="keywords" content="node.js,nodejs,node.js basicer, nodejs-basicer,chrome v8,data-intensive,real-time,event-driven,non-blocking io,javascripts,js" />
  <meta name="description" content="nodejs-basicer is just a basic node.js framework" />

  <title>nodejs-basicer/{% block title %}{{title}}{% endblock %}</title>

  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet{% if systemParams.isDevMode %}/less{% endif %}" href="/style{% if systemParams.isDevMode %}.less{% else %}.css{% endif %}" />

  {% if styles %}
    {% for style in styles %}
      <link rel="stylesheet{% if systemParams.isDevMode %}/less{% endif %}" type="text/css"
          href="{{style}}{% if systemParams.isDevMode %}.less#!watch{% else %}.css{% endif %}" />
    {% endfor %}
  {% endif %}

  {% if systemParams.isDevMode %}
    <script type="text/javascript" src="/less/dist/less.min.js"></script>
  {% endif %}

  {% if headerScripts %}
    {% for script in headerScripts %}
      <script type="text/javascript" src="{{script}}"></script>
    {% endfor %}
  {% endif %}
</head>
<body>
  {% block body-container %}{% endblock %}

  <script type="text/javascript">
    var GlobalConfig = {
      requireScripts: []
    };

    {% if requireScripts %}
      {% for script in requireScripts %}
        GlobalConfig.requireScripts.push('{{ script }}');
      {% endfor %}
    {% endif %}
  </script>
  <script src="/requirejs/require.js"></script>

  {% if systemParams.isDevMode %}
    <script src="/main.js"></script>
    <script src="/bootstrap.js"></script>
  {% else %}
    <script src="/apps.min.js"></script>
  {% endif %}

</body>
</html>