<!DOCTYPE html>
<html>
<head lang="en">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="Pragma" content="no-cache"/>

  <title>{% block title %}{{title}}{% endblock %}</title>

  <link rel="stylesheet" href="/lib/bootstrap-3.2.0/bootstrap.min.css" />
  <link rel="stylesheet" href="/style.css" />

  {% if styles %}
    {% for style in styles %}
    <link rel="stylesheet" href="{{style}}" />
    {% endfor %}
  {% endif %}

  {% if headerScripts %}
    {% for script in headerScripts %}
    <script type="text/javascript" src="{{script}}"></script>
    {% endfor %}
  {% endif %}
</head>
<body>
  {% block content %}{% endblock %}
  <div class="footer-container color-bg-black color-gray">
    <div class="copyright text-center">
      <ul class="list-unstyled inline-block">
        <li>Copyright © 2015 Node-Basicer. All Rights Reserved.</li>
        <li><a href="https://github.com/ipluser/node-basicer" target="_blank">Plus</a> 版权所有 沪ICP备xxxxxxxx号</li>
      </ul>
    </div>
    <div></div>
  </div>

  <script type="text/javascript">
    var GlobalConfig = {
      requireScripts: []
    };

    {% if requireScripts %}
      {% for script in requireScripts %}
      GlobalConfig.requireScripts.push('{{ script }}');
      {% endfor %}
    {% endif %}
  </script>
  <script src="/lib/require/require.js"></script>
  <script src="/main.js"></script>
</body>
</html>