{% extends 'layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block javascripts %}
  {% parent %}
  {% for jsSrc in javascripts %}
  <script type="text/javascript" src="{{jsSrc}}"></script>
  {% endfor %}
{% endblock %}

{% block stylesheets %}
  {% parent %}
  {% for cssSrc in stylesheets %}
  <link rel="stylesheet" href="{{cssSrc}}" />
  {% endfor %}
{% endblock %}

{% block content %}
<div id="contentDiv">
  <div class="centerDiv" ng-controller="loginCtrl">
    <div id="sloganDiv" class="col-sm-7">
      <img id="sloganImg" src="/login/slogan.png" alt="标语" />
    </div>
    <div id="loginDiv" class="col-sm-5">
      <form class="form-horizontal" novalidate>
        <div class="form-group">
          <input id="username" ng-model="data.username" type="text" class="form-control" placeholder="支持用户名/邮箱登陆" required>
        </div>
        <div class="form-group">
          <input id="password" ng-model="data.password" type="password" class="form-control" placeholder="密码">
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox"> 记住用户名
            </label>
          </div>
        </div>
        <div class="form-group">
          <button id="loginBtn" class="btn btn-success">登陆</button>
        </div>
      </form>
    </div>
  </div>
  <div id="footerDiv">
    <div id="copyrightDiv" class="text-center">
      <ul class="list-unstyled inline-block">
        <li>Copyright © 2013 - 2015 DianRong. All Rights Reserved.</li>
        <li><a href="http://www.dianrong.com" target="_blank">点融网</a> 版权所有 沪ICP备14028311号</li>
      </ul>
    </div>
  </div>
</div>
<div id="backgroundImage">
  <img src="/login/bg.jpg" alt="全屏背景图" width="800" height="600" />
</div>
{% endblock %}