{% extends 'layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block javascripts %}
{% parent %}
{% for jsSrc in javascripts %}
<script type="text/javascript" src="{{jsSrc}}"></script>
{% endfor %}
{% endblock %}

{% block stylesheets %}
{% parent %}
{% for cssSrc in stylesheets %}
<link rel="stylesheet" href="{{cssSrc}}" />
{% endfor %}
{% endblock %}

{% block content %}
<div>
  <h1>hello</h1>
  <button id="testBtn" class="btn btn-success" onclick="test2()">click me</button>
</div>
{% endblock %}