body {
  background-color: #CCFFFF;
}
a:link {
  color: #141c26;
}
a:visited {
  color: #141c26;
}
a:hover {
  color: #141c26;
}
a:active {;
  color: #141c26;
}
.footer-container {
  color: #141c26;
  background-color: transparent;
}
.slogan-container {
  margin: 0px 30px;
}
.img-slogan {
  width: 340px;
  background-image: url(/login/slogan.png);
  height: 240px;
  display: block;
}
.content-container {
  margin-top: 10%;
}
.login-container {
  width: 416px;
  margin: 10px;
  background: #fff;
  padding: 40px 70px 25px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow:  3px 5px 15px gray;
  -moz-box-shadow:  3px 5px 15px gray;
  box-shadow: 3px 5px 15px gray;
  filter: alpha(opacity=90);
  -moz-opacity: 0.9;
  opacity: 0.9;
  -khtml-opacity: 0.9;
}