<!DOCTYPE html>
<html dir="ltr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit"/>
  <meta name="description" content="An complete angularjs requirejs boilerplate for node."/>
  <meta name="keywords" content="angular,angularjs,requirejs,boilerplate,angularjs-requirejs,angularjs-requirejs-boilerplate">
  <title>ipluser - {= title || 'angularjs-requirejs-boilerplate' =}</title>

  <link rel="stylesheet" href="/static/libs/bootstrap/dist/css/bootstrap.min.css">
  <link href="/static/libs/github-markdown-css/github-markdown.css" rel="stylesheet">
  <link rel="stylesheet" href="{= '/static/styles/desktop/style.css' | buildNumber =}"/>

  {% if styles %}
  {% for style in styles %}
  <link rel="stylesheet" href="/static/styles/{= style =}{= '.css' | buildNumber =}" />
  {% endfor %}
  {% endif %}
</head>
<body>
  <div class="container">
    {% if !hideHeader %}
    {% include "./layout/header.html" %}
    {% endif %}

    {% block content %}{% endblock content %}

    {% if !hideFooter %}
    {% include "./layout/footer.html" %}
    {% endif %}
  </div>

  <script type="text/javascript">
    var GlobalConfig = {
      requireScripts: [],
      isDevMode: {= isDevMode =}
    };

    if (!GlobalConfig.isDevMode) {
      window.console.log = function () {
        return;
      };
    }

    {% if scripts %}
      {% for script in scripts %}
        GlobalConfig.requireScripts.push('{= script =}');
      {% endfor %}
    {% endif %}
  </script>
  <script src="/static/libs/requirejs/require.js"></script>

  {% if isDevMode %}
  <script src="/static/scripts/mobile/require-config.js"></script>
  <script src="/static/scripts/mobile/bootstrap.js"></script>
  {% else %}
  <script src="{= '/static/scripts/mobile/libs.min.js' | buildNumber =}"></script>
  <script src="{= '/static/scripts/mobile/apps.min.js' | buildNumber =}"></script>
  {% endif %}
</body>
</html>
